.container-notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000000;
  padding: 5rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid red;
  border-radius: 3rem;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}
